:root {
      --white: #FFFFFF;
      --black: #000000;
      --very-light-pink: #C7C7C7;
      --text-input-field: #F7F7F7;
      --hospital-green: #ACD9B2;
      --sm: 14px;
      --md: 16px;
      --lg: 18px;
    }
    body {
      margin: 0;
      font-family: 'Quicksand', sans-serif;


    }
    section {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;

    }

.caja-principal{

  width: 30%;
  height:50%;
  display: grid;
  place-items:center;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid blue;
  background: skyblue;
  border-radius: 20px;

}
.container{
  display: grid;
  grid-template-rows: auto 1fr;
  width: 300px;


}
.label{
  text-align: center;
  padding: 10px;
}
.titulo{
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
  padding: 20px;
}
.subtitulo{
  color: hotpink;
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  border:
}
.input{
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--sm);
  padding: 6px;
  margin-bottom: 12px;
}
.primary-button{
  background-color: var(--hospital-green);
border-radius: 8px;
border: none;
color: var(--white);
width: 100%;
cursor: pointer;
font-size: var(--md);
font-weight: bold;
height: 50px;
}
.container-boton{
    background-color: #2e6329;
    border: 1px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}

.container-boton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.boton{
    width: 60px;
    transition: ease 1s;
}

@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}
